@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.nav {
    background-image: linear-gradient(to right, rgb(214 214 214), rgb(240 240 240));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 0 2rem 1rem rgb(201 201 201);
    position: sticky;
    top: 0;
}

.logo {
    font-weight: 100;
    font-size: 1.9rem;
    margin: 0rem 2rem;
    color: rgb(44, 45, 46);
    font-family: 'Audiowide', cursive;
}

/* .nav-items{
            margin-left: 3rem;
        } */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    margin: 0rem 2rem;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(81, 87, 87);
    text-decoration: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

}

.nav-links li a:hover {
    color: rgb(14, 16, 16);
}

.container {
    height: 78vh;
    color: rgb(114 114 114);
    text-shadow: 1rem 1rem 2rem rgb(183 183 183);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}


.logo-image {
    background-image: url(../images/lifeflow.jpeg);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 20rem;
    width: 20rem;
    border-radius: 500rem;
    box-shadow: 0 0 2rem 1rem rgb(179 179 179);
    transition: all 0.5s ease-in-out 0s;
    animation-name: darkshadow;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0;
}

@keyframes darkshadow {
    0% {
        box-shadow: 0 0 2rem 1rem rgb(179 179 179);
    }

    50% {
        box-shadow: 0 0 2rem 1rem rgb(88, 88, 88);
    }

    100% {
        box-shadow: 0 0 2rem 1rem rgb(179 179 179);
    }
}

.logo-image:hover {
    background-size: 180%;
    border-radius: 500rem;
    box-shadow: 0 0 2rem 1rem rgb(135, 135, 135);
}

#intro {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

#intro:hover {
    color: rgb(100 100 100);
    text-shadow: 1rem 1rem 2rem rgb(155 155 155);
}

#intro-hi {
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

#intro-name {
    font-weight: 400;
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(195, 5, 5);
}

#intro-subhead {
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(177, 177, 177);
}

.btn{
    font-weight: 400;
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    border-radius: .8rem;
    border: 0px;
    margin: 0.8rem 0;

}

.btn-warning{
    background-color: rgb(195, 5, 5);
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.btn-warning:hover{
    background-color: rgb(157, 3, 3);
    color: white;
}

.ctas {
    background-color: rgb(157, 3, 3);
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
}

.cta {
    width: 15rem;
    height: 11rem;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 1rem rgb(100, 0, 0);

}

.cta a{
    text-decoration: none;
    color: rgb(193, 193, 193);
    font-weight: 900;
    font-size: 2rem;
}